<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>pag3</title>
</head>
<body>
<h1> hello! </h1>

<p>Los alumnos del curso son <%= @users[0] %>, <%= @users[1] %>, <%= @users[2] %>, <%= @users[3] %>
</p>
	
</body>
</html>